<!doctype html>
<html ng-app="popApp" ng-csp>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="styles/angular-csp.css"/>

  <!-- build:css styles/popup.css -->
  <link rel="stylesheet" href="styles/popup.css"/>
  <!-- endbuild -->

</head>
<body ng-controller="MasterCtrl">

<form name="queryForm" id="query-wrapper" ng-submit="query(word)">
  <input type="text" name="queryInput" class="query-filed" ng-model="word" required placeholder="type..."/>
  <button type="submit" ng-disabled="!queryForm.queryInput.$valid || status==1">Define</button>
</form>

<div id="loading-wrapper" ng-if="status==1">Searching...</div>
<div id="nothing-wrapper" ng-if="status==3">
  Nothing found. <p>Search by <a href="#" ng-click="searchBy('google', word)">Google</a>, <a href="#" ng-click="searchBy('wiki', word)">Wiki</a></p>
</div>

<div id="result-wrapper" ng-if="status==2">
  <div id="result-header">
    <div class="trans" ng-repeat="t in result.trans">
      <span class="headword">{{t.word}}</span>
      <span class="symbol" ng-if="t.symbol">{{t.symbol}}</span>
      <span class="translate-audio" ng-click="play_audio(t.lan)"></span>
    </div>
  </div>
  <div id="result-body">
    <div class="dict" ng-repeat="d in result.dicts track by $index">
      <h4 class="dict-title">{{d.title}}</h4>
      <ul class="dict-body">
        <li ng-repeat="t in d.types">
          <p class="synonyms">{{t.pos}}</p>
          <ol class="related-list">
            <li ng-repeat="e in t.entry | limitTo:3">
              <span ng-if="e.word">{{e.word}}</span>
              <div ng-if="e.trans" class="word-trans">
                <a href="#" ng-click="query(o)" ng-repeat="o in (e.trans|limitTo:3) track by $index">{{o}}</a>
              </div>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">Powered by <a href="https://translate.google.com/#auto/" target="_blank">Google Translate</a></div>
</div>

<div class="footer">
  <p>&copy; 2015 Dict+ <a href="#" ng-click="openOptions()">Extension Options</a></p>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/popup.js -->
<script src="scripts/popup.js"></script>
<!-- endbuild -->
</body>
</html>
